streamlit
langchain   #LLM Library
chromadb    # Vector Storage
pypdf       # Loading PDFs
pytest      # Unit Testing  
openai      # open ai python package
tiktoken    # needed for open ai embeddings
python-dotenv
llama-index
llama-index-experimental
langchain
streamlit
chardet